<h1>Editing Character Experience</h1>

<%= render 'form', character_experience: @character_experience %>

<%= link_to 'Show', @character_experience %> |
<%= link_to 'Back', character_experiences_path %>
